[buildout]
develop = .
parts = test tags
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions

[versions]
zope.app.testing =
zc.buildout =
setuptools =

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.testing [test]

[tags]
recipe = z3c.recipe.tag:tags
eggs = zope.app.testing
